nav{
    -webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
}
.hide{
    display: none;
}
.width-100{
    width: 100%;
}

.shrink {
    padding-top: 0;
    padding-bottom: 0;
}
.main-container{
    margin: 75px 48px 0;
}
.footer-block{
    position: absolute;
    height: 2.5rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}
body{
    height:100vh;
    position: relative;
}
.btn.hide{
    display: none;
}
.question-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.question-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.question-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.question-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.question-container input:checked ~ .checkmark:after {
    display: block;
}
.question-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.checkbox-createtask .question-container{
    font-size: 18px;
    text-align: right;
}
.checkbox-createtask{
    display: flex;
    justify-content: center;
    width: 47%;
}
.view-group-container.col-md-10{
    /*border: 1px solid darkgrey;*/
    /*padding-top: 6px;*/
    padding-bottom: 6px;
}
.view-group-container .row:nth-child(even), .modal-body .row:nth-child(even){
    background-color: #eeeded;
}
.create-group-container .form-submit .btn{
    font-size: 12px;
}
.create-group-container .code input{
    width:100%;
}
.content{
    width: 100%;
}
.card-body-tm{
    transition: 200ms ease-in-out;
    transform: rotateX(0deg);
    transform-origin: top;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.rotate-back{
    transform: rotateX(-90deg);
}
.btn-link{
    cursor: pointer;
}
.content .modal .modal-body{
    /*padding: 2rem 1rem;*/
    overflow-y: auto;
    background-color: white;
}
.modal-content{
    max-height: 75vh;
    padding-bottom: 1rem;
}
.active-border{
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color:#39B4CC;
    background-image:
        linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}
strong{
    font-weight: bold;
}
table.table a{
    color: #007bff;
}

.btn-link{
    color: #007bff;
}
.task-table .task-row:nth-child(2n+1), .results-table .result-row:nth-child(2n+1){
    background-color: #eeeded;
}
.task-table .task-row:hover, .results-table .result-row:hover{
    background-color: #d9d7d7;
}

.task-icon{
    color: #1976D2;
    font-size: 26px;
}
.task-button{
    border: 4px solid #1976D2;
    height: 250px;
    width: 250px;
    color: black;
    font-size: 22px;
    transition: 200ms ease-in-out;
}
.task-button:hover{
    -webkit-box-shadow: 0px 8px 13px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 13px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 13px 3px rgba(0,0,0,0.2);
    transform: translateY(-5px);
    color: black;
}
.task-arrow{
    opacity: 0;
    transition: 200ms ease-in-out;
    transition-delay: 100ms;
    font-size: 24px;
    position: relative;
    left: 50px;
    color: #999AC6;
}
.task-button:hover .task-arrow{
    display: block;
    opacity: 1;
    left: 0;
    height: auto;
}
.align-text-center{
    text-align: center;
}
.topic-col{
    margin-bottom: 15px;
}
.content .btn-primary{
    background-color: #1976D2!important;
}
.card-header{
    background-color: #B8BACF;
    color: white;
    font-size: 24px;
}
.card-header, .card-header h2{
    font-weight: bold;
}
footer{
    margin: 0 -48px;
}
.page-footer{

}
@media only screen and (max-width: 600px){
    .mobile-hide{
        display: none;
    }
    .btn.btn-sm.mobile-btn{
        padding: 0.5rem 0.6rem;
    }
    .task-table .task-row .col-md-3{
        width: auto;
    }
    .task-table .task-row .task-title{
        font-size: 12px;
    }
    .task-button{
        height: 105px;
        width: 105px;
        font-size: 12px;
        border: 2px solid #1976d2;
    }
    .topic-col{
        width: unset;
        padding-right: 8px;
        padding-left: 8px;
    }
    .task-arrow{
        font-size: 12px;
        height: 0;
    }
    .task-icon{
        font-size: unset;
    }
    .content.container{
        padding-right: unset;
        padding-left: unset;
    }
}